<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title><%= title %></title>
    <!-- 这里可以包含你需要的其他<head>部分，比如CSS、JS等 -->
</head>
<body>
    <!-- 这里插入文章内容 -->
    <%= content %>
    <!-- 这里可以包含其他页面元素，如页脚等 -->
</body>
</html>